@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}
.vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
}
.content-box {
  width: 550px;
  background: rgba(0, 0, 0, 0.4);    
  backdrop-filter: blur(20px);       
  padding: 2rem;                     
  color: white;                     
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  border: 4px solid;
  border-image: linear-gradient(
    90deg,
    #3b82f6,
    #8b5cf6,
    #ec4899,
    #8b5cf6,
    #3b82f6
  ) 1;
  border-radius: 10px;
  margin-top: 30px;   
}
 
